/*  By default Polylang dialog box use WordPress jQuery UI dialog styles.
	However WooCommerce loads its own jQuery UI dialog styles and we need to override them by ours
	to revert to the default WordPress ones.
*/
.pll-confirmation-modal.ui-widget,
.pll-confirmation-modal.ui-widget .ui-widget,
.pll-confirmation-modal .ui-widget {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
}
.pll-confirmation-modal.ui-dialog {
	padding: 0;
	z-index: 100102;
	background: #fff;
	border: 0;
	color: #444;
}
.ui-dialog.pll-confirmation-modal .ui-dialog-titlebar {
	background: #fcfcfc;
	border-radius: 0;
	border: 0;
	border-bottom: 1px solid #dfdfdf;
	height: 36px;
	font-size: 18px;
	font-weight: 600;
	line-height: 2;
	padding: 0 36px 0 16px;
	color: #444;
	position: static;
}
.ui-dialog.pll-confirmation-modal .ui-dialog-title {
	float: none;
	width: auto;
	margin: 0;
}
.pll-confirmation-modal .ui-widget-header .ui-icon {
	background: none;
	position: static;
}
.pll-confirmation-modal .ui-button.ui-dialog-titlebar-close {
	padding: 0;
	margin: 0;
	top: 0;
	right: 0;
	width: 36px;
	height: 36px;
}
.ui-dialog.pll-confirmation-modal .ui-dialog-content {
	border: 0;
	padding: 16px;
	color: #444;
	position: static;
	box-sizing: border-box;
}
.ui-dialog.pll-confirmation-modal .ui-dialog-buttonpane{
	margin: 0;
	padding: 16px;
	border: 0;
	background: #fcfcfc;
	border-top: 1px solid #dfdfdf;
}
.ui-dialog.pll-confirmation-modal .ui-dialog-buttonpane .ui-button{
	margin: 0 0 0 16px;
	padding: 0 10px 1px;
	background: #f7f7f7;
	border: 1px solid #cccccc;
	border-radius: 3px;
	position: static;
	line-height: 2;
	vertical-align: top;
}
.ui-dialog.pll-confirmation-modal .ui-button:hover,
.ui-dialog.pll-confirmation-modal .ui-button:focus {
	background: #fafafa;
	border-color: #999;
	color: #23282d;
}
.pll-confirmation-modal + .ui-widget-overlay {
	background: #000;
	opacity: 0.7;
	z-index: 100101;
}
