# Folders, allowing symbolic links for tmp/
.idea/
coverage/
css/build/
js/build/
node_modules/
tmp
vendor/

# Files
integrations/integration-build.php
modules/module-build.php
.phpunit.result.cache
*.map
*.min.js
*.min.css
.DS_Store
composer.lock
DB-CONFIG
package-lock.json
Thumbs.db
