# Folders, allowing symbolic links for tmp/
.idea/
coverage/
node_modules/
src/css/build/
src/js/build/
tmp
vendor/

# Files
.phpunit.result.cache
*.map
*.min.js
*.min.css
.DS_Store
composer.lock
DB-CONFIG
package-lock.json
Thumbs.db
