sudo: false

language: php
dist: trusty

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  only:
    - master

php:
  - 5.6
  - 7.0

env:
  - WP_VERSION=latest WP_MULTISITE=0
  - WP_VERSION=4.9 WP_MULTISITE=0

matrix:
  include:
    - php: 7.1
      env: WP_VERSION=latest WP_MULTISITE=0
    - php: 7.1
      env: WP_VERSION=latest WP_MULTISITE=1
    - php: 7.2
      env: WP_VERSION=latest WP_MULTISITE=0 PHPCS=1
    - php: 7.3
      env: WP_VERSION=latest WP_MULTISITE=0

before_script:
  - |
    if [ -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini ]; then
      phpenv config-rm xdebug.ini
    fi
  - export PATH="$HOME/.config/composer/vendor/bin:$PATH"
  - bash tests/bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION
  - |
    if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then
      composer global require "phpunit/phpunit=5.7.*"
    else
      composer global require "phpunit/phpunit=4.8.*"
    fi
  - |
    if [[ "$PHPCS" == "1" ]]; then
      composer global require wp-coding-standards/wpcs
      phpcs --config-set installed_paths $HOME/.config/composer/vendor/wp-coding-standards/wpcs
    fi

script:
  - |
    if [[ "$PHPCS" == "1" ]]; then
      phpcs -s --extensions=php .
    fi
  - phpunit
