# TravisCI configuration for polylang/polylang

if: "branch = master"

language: "php"
os:
  - "linux"
dist: "xenial"

jobs:
  include:
    - name: "PHPCS + PHPStan - PHP 7.2"
      php: "7.2"
      env: "WP_VERSION=latest WP_MULTISITE=0"
      install:
        - "composer update"
      script:
        - "vendor/bin/phpcs -s --extensions=php,js ./"
        - "vendor/bin/phpstan analyze --memory-limit=512M"

    - name: "WP oldest - PHP 7.2"
      php: "7.2"
      env: "WP_VERSION=5.4 WP_MULTISITE=0"

    - name: "WP latest - PHP 5.6"
      php: "5.6"
      env: "WP_VERSION=latest WP_MULTISITE=0"

    - name: "WP latest - PHP 8.0"
      php: "8.0"
      env: "WP_VERSION=latest WP_MULTISITE=0"

    - name: "WP latest multisite - PHP 7.2"
      php: "7.2"
      env: "WP_VERSION=latest WP_MULTISITE=1"

    - name: "WP nightly - PHP 5.6"
      php: "5.6"
      env: "WP_VERSION=nightly WP_MULTISITE=0"

    - name: "WP nightly - PHP 8.0"
      php: "8.0"
      env: "WP_VERSION=nightly WP_MULTISITE=0"

  allow_failures:
    - php: "5.6"
      env: "WP_VERSION=nightly WP_MULTISITE=0"

    - php: "8.0"
      env: "WP_VERSION=nightly WP_MULTISITE=0"

services:
  - "mysql"

cache:
  directories:
    - "${HOME}/.composer/cache"

before_install:
  - "phpenv config-rm xdebug.ini"
  - "export PATH=\"$(composer config --absolute --global bin-dir):${PATH}\""

install:
  - |
    if [[ "${TRAVIS_PHP_VERSION:0:3}" == "5.6" ]]; then
      composer remove --no-interaction --no-update --dev "wpsyntex/polylang-phpstan"
    fi
  - "composer update"
  - "bash tests/bin/install-wp-tests.sh wordpress_test root \"\" localhost \"${WP_VERSION}\""
  - "bash tests/bin/install-plugins.sh"

script:
  - "vendor/bin/phpunit --verbose"
  - "vendor/bin/behat --verbose"

notifications:
  email:
    on_success: "never"
    on_failure: "change"
  slack:
    rooms:
      - secure: "Ydrk6ilDyS5ymD1qGnHlRYIyyTNnZjjM2ZS7HK/D0n/FXCWNHeOxPzEiyO2QZ5eEtREuceKGBfPiDe
      +cG3P4x6kQvS8w8p62hrlMapOJQF2jCxVlczhQmbFgv8FFlKHwyfVhrIGDitDCa+rAzsBRS/cIm6C9YzQ1BQ7zbF2Mfr0c/1hVQ
      /0OMVuvqYR71KjV5G6kSe/j57ch4IoB0Emz2TWHAErk204wvXgO+1g55GzI3okufopgdmm8/86D1pc1/Sx/uzrTdHI5/zgLSFbQVIp7+Ib1GaAJmHdG3Ks/8nfJdJOKxfNbaJBSzOCtJjkjW4oa/1Kq6i7qA1vsUj/f4C5Bz0aKZ0D5CMN6zVjVRnmQ9xuhm4uSjV42MGDaR9tqT/QZICOG2rFINgNfvNT6l8cqADWZs200JE+0EDF6apbfihLDIFhjBg8fCaxRZHbHfH541l6TLTGjefZLXusFi1n7iMpt37PbX8WZgRliDxu3f5HA0IW6S4LzFXlaj+qeMbDmxIeNDFdKgA+6/DwC7D28+IjXXISHsR7u5kC7ccAxRKUYTPcN7Jk737UpDYc7a5YKNg1QDRagbQCCRvJyYHLWlFwtNUFu/0dWKUIk+G3FhZfDvkNGUdOpU5DBongCVTT3Hpw2JfsvRkYNkY8VYXNT8H5J0+1ZsNR/aWMmlqo="
