includes:
	- vendor/wpsyntex/polylang-phpstan/extension.neon
	- phpstan-baseline.neon
parameters:
	level: max
	paths:
		- polylang.php
		- admin/
		- frontend/
		- include/
		- install/
		- modules/
		- settings/
	excludePaths:
		- **/load.php
		- **/view*.php
		- include/widget-calendar.php
		- install/plugin-updater.php
	checkMissingIterableValueType: false
	ignoreErrors:
		- '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
		- '#^Parameter \#1 \$message of function wp_die expects string|WP_Error, int given\.$#'

		# Temporarily ignored
		-
			message: "#^Left side of \\|\\| is always false\\.$#"
			count: 1
			path: admin/admin-base.php

		# Temporarily ignored
		-
			message: "#^Parameter \\#5 \\$in_footer of function wp_enqueue_script expects bool, int given\\.$#"
			count: 1
			path: admin/admin-base.php

		# Ignored because PHPStan doesn't understand what $this is. Don't you dare laughing, JavaScript!
		-
			message: "#^Parameter \\#2 \\$callback of function add_filter expects callable\\(\\)\\: mixed, array\\{mixed, 'filter_language…'\\} given\\.$#"
			count: 1
			path: include/model.php

		# Ignored because of https://github.com/polylang/polylang/commit/fedd9b62354ae4179e39e1fd822cfee1a12643d5
		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: include/api.php

		# Ignored because of https://wordpress.org/support/topic/detect-browser-language-sometimes-setting-null-language
		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: frontend/choose-lang.php
