includes:
	- vendor/wpsyntex/polylang-phpstan/extension.neon
	- phpstan-baseline.neon
parameters:
	level: max
	paths:
		- polylang.php
		- admin/
		- frontend/
		- include/
		- install/
		- modules/
		- settings/
	excludePaths:
		- **/load.php
		- include/widget-calendar.php
		- install/plugin-updater.php
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		- identifier: missingType.iterableValue
		- '#^Parameter \#1 \$message of function wp_die expects string|WP_Error, int given\.$#'

		# Temporarily ignored
		-
			message: "#^Left side of \\|\\| is always false\\.$#"
			count: 1
			path: admin/admin-base.php

		# Ignored because the WordPress stubs doesn't know a dynamic key in the associative array passed to the get_terms() parameter
		- "#^Parameter \\#1 \\$args of function get_terms expects array(.+), non\\-empty\\-array\\<string, int\\|string\\> given\\.$#"

		# Ignored PLL_Canonical::check_canonical_url() is used both as action callback and classic method.
		-
			message: "#^Action callback returns string\\|void but should not return anything\\.$#"
			count: 1
			path: frontend/frontend.php

		# Ignored because PHPStan is confused about the objects and method names (classes with same method names).
		-
			message: "#^Parameter \\#1 \\$callback of function call_user_func_array expects callable\\(\\): mixed, array\\{.+\\} given\\.$#"
			count: 1
			path: include/model.php

		# Ignored because the cache is initialized in the constructor.
		-
			message: "#^Static property PLL_MO\\:\\:\\$cache \\(PLL_Cache\\<array\\>\\) in empty\\(\\) is not falsy\\.$#"
			count: 1
			path: include/mo.php

		# Ignored because there is no dynamic return type extension for WP_Syntex\Polylang\Options\Abstract_Option::get()
		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\<string\\>, mixed given\\.$#"
			count: 1
			path: include/Options/Business/Sync.php
		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\|null, mixed given\\.$#"
			count: 1
			path: include/Options/Business/Sync.php
