parameters:
	ignoreErrors:
		-
			message: "#^@param PLL_Language \\$pref_lang does not accept actual type of parameter\\: PLL_Language\\|false\\.$#"
			count: 1
			path: admin/admin-base.php

		-
			message: "#^Parameter \\#1 \\$post_type of method PLL_Model\\:\\:is_translated_post_type\\(\\) expects array\\<string\\>\\|string, string\\|false given\\.$#"
			count: 1
			path: admin/admin-base.php

		-
			message: "#^Property PLL_Admin_Base\\:\\:\\$curlang \\(PLL_Language\\|null\\) does not accept PLL_Language\\|false\\.$#"
			count: 2
			path: admin/admin-base.php

		-
			message: "#^Property PLL_Admin_Base\\:\\:\\$curlang \\(PLL_Language\\|null\\) does not accept PLL_Language\\|false\\|null\\.$#"
			count: 2
			path: admin/admin-base.php

		-
			message: "#^Property PLL_Admin_Base\\:\\:\\$filter_lang \\(PLL_Language\\|null\\) does not accept PLL_Language\\|false\\.$#"
			count: 1
			path: admin/admin-base.php

		-
			message: "#^Property PLL_Admin_Base\\:\\:\\$pref_lang \\(PLL_Language\\|null\\) does not accept PLL_Language\\|false\\.$#"
			count: 1
			path: admin/admin-base.php

		-
			message: "#^Parameter \\#2 \\$lang of method PLL_Translated_Object\\:\\:get_translation\\(\\) expects PLL_Language\\|string, PLL_Language\\|false given\\.$#"
			count: 1
			path: admin/admin-classic-editor.php

		-
			message: "#^Parameter \\#2 \\$untranslated_in of method PLL_Translated_Post\\:\\:get_untranslated\\(\\) expects PLL_Language, PLL_Language\\|false given\\.$#"
			count: 1
			path: admin/admin-classic-editor.php

		-
			message: "#^Parameter \\#3 \\$lang of method PLL_Translated_Post\\:\\:get_untranslated\\(\\) expects PLL_Language, PLL_Language\\|false given\\.$#"
			count: 1
			path: admin/admin-classic-editor.php

		-
			message: "#^Parameter \\#1 \\$location of function wp_safe_redirect expects string, string\\|false given\\.$#"
			count: 1
			path: admin/admin-filters-media.php

		-
			message: "#^Parameter \\#1 \\$lang of method PLL_Query\\:\\:filter_query\\(\\) expects PLL_Language\\|false, PLL_Language\\|null given\\.$#"
			count: 1
			path: admin/admin-filters-post.php

		-
			message: "#^Cannot access property \\$slug on PLL_Language\\|false\\.$#"
			count: 2
			path: admin/admin-filters-term.php

		-
			message: "#^Cannot call method is_default_term\\(\\) on PLL_Admin_Default_Term\\|null\\.$#"
			count: 1
			path: admin/admin-filters-term.php

		-
			message: "#^Parameter \\#2 \\$lang of method PLL_Translated_Object\\:\\:get_translation\\(\\) expects PLL_Language\\|string, PLL_Language\\|false given\\.$#"
			count: 3
			path: admin/admin-filters-term.php

		-
			message: "#^Parameter \\#1 \\$id of method PLL_Translated_Object\\:\\:get_translations\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: admin/admin-filters.php

		-
			message: "#^Parameter \\#4 \\.\\.\\.\\$values of function printf expects bool\\|float\\|int\\|string\\|null, mixed given\\.$#"
			count: 1
			path: admin/admin-filters.php

		-
			message: "#^Cannot access an offset on mixed\\.$#"
			count: 1
			path: admin/admin-notices.php

		-
			message: "#^Parameter \\#1 .+ of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: admin/admin-notices.php

		-
			message: "#^Parameter \\#1 \\$array of function array_unique expects array, mixed given\\.$#"
			count: 1
			path: admin/admin-notices.php

		-
			message: "#^Parameter \\#2 .+ of function array_diff expects array, mixed given\\.$#"
			count: 1
			path: admin/admin-notices.php

		-
			message: "#^Parameter \\#2 \\$haystack of function in_array expects array, mixed given\\.$#"
			count: 2
			path: admin/admin-notices.php

		-
			message: "#^Cannot call method get_new_post_translation_link\\(\\) on PLL_Admin_Links\\|null\\.$#"
			count: 1
			path: admin/admin-static-pages.php

		-
			message: "#^Offset 'widget_text' does not exist on array\\<string\\>\\|null\\.$#"
			count: 1
			path: admin/admin-strings.php

		-
			message: "#^Offset 'widget_title' does not exist on array\\<string\\>\\|null\\.$#"
			count: 1
			path: admin/admin-strings.php

		-
			message: "#^Property PLL_Admin\\:\\:\\$block_editor \\(PLL_Admin_Block_Editor\\|null\\) does not accept object\\.$#"
			count: 1
			path: admin/admin.php

		-
			message: "#^Property PLL_Admin\\:\\:\\$classic_editor \\(PLL_Admin_Classic_Editor\\|null\\) does not accept object\\.$#"
			count: 1
			path: admin/admin.php

		-
			message: "#^Property PLL_Admin\\:\\:\\$filters \\(PLL_Admin_Filters\\|null\\) does not accept object\\.$#"
			count: 1
			path: admin/admin.php

		-
			message: "#^Property PLL_Admin\\:\\:\\$filters_columns \\(PLL_Admin_Filters_Columns\\|null\\) does not accept object\\.$#"
			count: 1
			path: admin/admin.php

		-
			message: "#^Property PLL_Admin\\:\\:\\$filters_media \\(PLL_Admin_Filters_Media\\|null\\) does not accept object\\.$#"
			count: 1
			path: admin/admin.php

		-
			message: "#^Property PLL_Admin\\:\\:\\$filters_post \\(PLL_Admin_Filters_Post\\|null\\) does not accept object\\.$#"
			count: 1
			path: admin/admin.php

		-
			message: "#^Property PLL_Admin\\:\\:\\$filters_term \\(PLL_Admin_Filters_Term\\|null\\) does not accept object\\.$#"
			count: 1
			path: admin/admin.php

		-
			message: "#^Property PLL_Admin\\:\\:\\$nav_menu \\(PLL_Admin_Nav_Menu\\|null\\) does not accept object\\.$#"
			count: 1
			path: admin/admin.php

		-
			message: "#^Parameter \\#1 \\$curlang of method PLL_Choose_Lang_Content\\:\\:set_language\\(\\) expects PLL_Language, PLL_Language\\|false given\\.$#"
			count: 1
			path: frontend/choose-lang-content.php

		-
			message: "#^Parameter \\#1 \\$.+ of function get_query_var expects string, string\\|false given\\.$#"
			count: 1
			path: frontend/choose-lang-content.php

		-
			message: "#^Parameter \\#2 \\$.+ of function explode expects string, mixed given\\.$#"
			count: 1
			path: frontend/choose-lang-content.php

		-
			message: "#^Method PLL_Choose_Lang_Domain\\:\\:get_preferred_language\\(\\) should return PLL_Language but returns PLL_Language\\|false\\.$#"
			count: 1
			path: frontend/choose-lang-domain.php

		-
			message: "#^Parameter \\#1 \\$term_id of method PLL_Frontend_Auto_Translate\\:\\:get_term\\(\\) expects int, int\\|string given\\.$#"
			count: 1
			path: frontend/frontend-auto-translate.php

		-
			message: "#^Parameter \\#2 \\$lang of method PLL_Translated_Object\\:\\:get\\(\\) expects int\\|PLL_Language\\|string, PLL_Language\\|null given\\.$#"
			count: 2
			path: frontend/frontend-auto-translate.php

		-
			message: "#^Cannot call method get_home_url\\(\\) on PLL_Frontend_Links\\|null\\.$#"
			count: 2
			path: frontend/frontend-filters-links.php

		-
			message: "#^Cannot call method get_translation_url\\(\\) on PLL_Frontend_Links\\|null\\.$#"
			count: 1
			path: frontend/frontend-filters-links.php

		-
			message: "#^Parameter \\#1 \\$post_type of method PLL_Model\\:\\:is_translated_post_type\\(\\) expects array\\<string\\>\\|string, string\\|false given\\.$#"
			count: 1
			path: frontend/frontend-filters-links.php

		-
			message: "#^Parameter \\#2 \\$lang of method PLL_Links_Model\\:\\:switch_language_in_link\\(\\) expects PLL_Language, PLL_Language\\|false given\\.$#"
			count: 1
			path: frontend/frontend-filters-links.php

		-
			message: "#^Parameter \\#2 \\$lang of method PLL_Links_Model\\:\\:switch_language_in_link\\(\\) expects PLL_Language, PLL_Language\\|null given\\.$#"
			count: 3
			path: frontend/frontend-filters-links.php

		-
			message: "#^Cannot access property \\$slug on PLL_Language\\|null\\.$#"
			count: 1
			path: frontend/frontend-filters-search.php

		-
			message: "#^Cannot access property \\$slug on PLL_Language\\|null\\.$#"
			count: 1
			path: frontend/frontend-filters-widgets.php

		-
			message: "#^Cannot access property \\$locale on PLL_Language\\|null\\.$#"
			count: 2
			path: frontend/frontend-filters.php

		-
			message: "#^Cannot access property \\$slug on PLL_Language\\|null\\.$#"
			count: 1
			path: frontend/frontend-filters.php

		-
			message: "#^Method PLL_Frontend_Filters\\:\\:get_user_metadata\\(\\) should return string\\|null but returns mixed\\.$#"
			count: 1
			path: frontend/frontend-filters.php

		-
			message: "#^Access to an undefined property WP_Post\\|WP_Post_Type\\|WP_Term\\|WP_User\\:\\:\\$taxonomy\\.$#"
			count: 7
			path: frontend/frontend-links.php

		-
			message: "#^Access to an undefined property WP_Post\\|WP_Post_Type\\|WP_Term\\|WP_User\\:\\:\\$term_id\\.$#"
			count: 2
			path: frontend/frontend-links.php

		-
			message: "#^Cannot access property \\$name on WP_Taxonomy\\|false\\.$#"
			count: 2
			path: frontend/frontend-links.php

		-
			message: "#^Parameter \\#1 \\$language of method PLL_Links\\:\\:get_home_url\\(\\) expects PLL_Language\\|string, PLL_Language\\|string\\|null given\\.$#"
			count: 1
			path: frontend/frontend-links.php

		-
			message: "#^Parameter \\#1 \\$.+ of function wp_list_pluck expects array, array\\<int, WP_Term\\>\\|WP_Error given\\.$#"
			count: 1
			path: frontend/frontend-links.php

		-
			message: "#^Parameter \\#1 \\$term of function get_term_link expects int\\|string\\|WP_Term, WP_Post\\|WP_Post_Type\\|WP_Term\\|WP_User given\\.$#"
			count: 1
			path: frontend/frontend-links.php

		-
			message: "#^Parameter \\#2 \\$haystack of function array_search expects array, array\\<int, string\\>\\|WP_Error given\\.$#"
			count: 1
			path: frontend/frontend-links.php

		-
			message: "#^Method PLL_Frontend_Nav_Menu\\:\\:get_ancestors\\(\\) should return array\\<int\\> but returns array\\<int\\<0, max\\>, mixed\\>\\.$#"
			count: 1
			path: frontend/frontend-nav-menu.php

		-
			message: "#^Parameter \\#1 \\$links of method PLL_Switcher\\:\\:the_languages\\(\\) expects PLL_Links, PLL_Admin_Links\\|PLL_Frontend_Links\\|null given\\.$#"
			count: 1
			path: frontend/frontend-nav-menu.php

		-
			message: "#^Parameter \\#1 \\$post_id of function get_post_meta expects int, mixed given\\.$#"
			count: 1
			path: frontend/frontend-nav-menu.php

		-
			message: "#^Cannot access property \\$page_on_front on PLL_Language\\|null\\.$#"
			count: 2
			path: frontend/frontend-static-pages.php

		-
			message: "#^Cannot call method get_home_url\\(\\) on PLL_Frontend_Links\\|null\\.$#"
			count: 2
			path: frontend/frontend-static-pages.php

		-
			message: "#^Parameter \\#2 \\$page of method PLL_Links_Model\\:\\:add_paged_to_link\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: frontend/frontend-static-pages.php

		-
			message: "#^Property WP_Query\\:\\:\\$queried_object_id \\(int\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: frontend/frontend-static-pages.php

		-
			message: "#^Cannot access property \\$slug on PLL_Language\\|null\\.$#"
			count: 1
			path: frontend/frontend.php

		-
			message: "#^Property PLL_Frontend\\:\\:\\$curlang \\(PLL_Language\\|null\\) does not accept PLL_Language\\|false\\.$#"
			count: 1
			path: frontend/frontend.php

		-
			message: "#^Cannot access offset 'term_id' on array\\{term_id\\: int, term_taxonomy_id\\: int\\|string\\}\\|WP_Error\\.$#"
			count: 1
			path: include/default-term.php

		-
			message: "#^Cannot access property \\$slug on PLL_Language\\|false\\.$#"
			count: 1
			path: include/default-term.php

		-
			message: "#^Cannot cast mixed to int\\.$#"
			count: 2
			path: include/default-term.php

		-
			message: "#^Parameter \\#1 \\$id of method PLL_Translated_Object\\:\\:get_translations\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: include/default-term.php

		-
			message: "#^Parameter \\#2 \\$lang of method PLL_Translated_Term\\:\\:set_language\\(\\) expects int\\|PLL_Language\\|string, PLL_Language\\|false given\\.$#"
			count: 2
			path: include/default-term.php

		-
			message: "#^@param PLL_Language \\$lang does not accept actual type of parameter\\: PLL_Language\\|false\\.$#"
			count: 2
			path: include/filters-links.php

		-
			message: "#^Parameter \\#2 \\$lang of method PLL_Links_Model\\:\\:switch_language_in_link\\(\\) expects PLL_Language, PLL_Language\\|false given\\.$#"
			count: 4
			path: include/filters-links.php

		-
			message: "#^Parameter \\#2 \\$lang of method PLL_Links_Model\\:\\:switch_language_in_link\\(\\) expects PLL_Language, PLL_Language\\|null given\\.$#"
			count: 1
			path: include/filters-links.php

		-
			message: "#^Parameter \\#1 \\$id of method PLL_Translated_Object\\:\\:get_translations\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: include/filters.php

		-
			message: "#^Parameter \\#1 \\$string of function pll__ expects string, mixed given\\.$#"
			count: 1
			path: include/filters.php

		-
			message: "#^Parameter \\#1 \\$.+ of function base64_encode expects string, string\\|false given\\.$#"
			count: 1
			path: include/language.php

		-
			message: "#^Parameter \\#1 \\$format of function date_i18n expects string, mixed given\\.$#"
			count: 3
			path: include/license.php

		-
			message: "#^Method PLL_Links_Directory\\:\\:add_language_to_link\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: include/links-directory.php

		-
			message: "#^Method PLL_Links_Directory\\:\\:remove_language_from_link\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: include/links-directory.php

		-
			message: "#^Parameter \\#1 \\$str of function preg_quote expects string, string\\|null given\\.$#"
			count: 2
			path: include/links-directory.php

		-
			message: "#^Method PLL_Links_Domain\\:\\:add_language_to_link\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: include/links-domain.php

		-
			message: "#^Method PLL_Links_Domain\\:\\:remove_language_from_link\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: include/links-domain.php

		-
			message: "#^Method PLL_Links_Model\\:\\:get_hosts\\(\\) should return array\\<string\\> but returns array\\<int, string\\|false\\|null\\>\\.$#"
			count: 1
			path: include/links-model.php

		-
			message: "#^@param string \\$modified_url does not accept actual type of parameter\\: string\\|null\\.$#"
			count: 1
			path: include/links-permalinks.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, mixed given\\.$#"
			count: 1
			path: include/links-permalinks.php

		-
			message: "#^Parameter \\#2 \\$subject of function preg_match expects string, mixed given\\.$#"
			count: 1
			path: include/links-permalinks.php

		-
			message: "#^Method PLL_Links_Subdomain\\:\\:remove_language_from_link\\(\\) should return string but returns string\\|null\\.$#"
			count: 1
			path: include/links-subdomain.php

		-
			message: "#^Method PLL_Model\\:\\:get_links_model\\(\\) should return PLL_Links_Model but returns object\\.$#"
			count: 1
			path: include/model.php

		-
			message: "#^Property PLL_Nav_Menu\\:\\:\\$theme \\(string\\) does not accept mixed\\.$#"
			count: 1
			path: include/nav-menu.php

		-
			message: "#^Cannot access property \\$model on PLL_Links\\|null\\.$#"
			count: 5
			path: include/switcher.php

		-
			message: "#^Cannot access property \\$options on PLL_Links\\|null\\.$#"
			count: 1
			path: include/switcher.php

		-
			message: "#^Cannot call method get_home_url\\(\\) on PLL_Links\\|null\\.$#"
			count: 1
			path: include/switcher.php

		-
			message: "#^Method PLL_Switcher\\:\\:get_link\\(\\) should return string\\|null but returns string\\|false\\.$#"
			count: 2
			path: include/switcher.php

		-
			message: "#^Parameter \\#1 \\$language of method PLL_Switcher\\:\\:get_link\\(\\) expects PLL_Language, PLL_Language\\|false given\\.$#"
			count: 1
			path: include/switcher.php

		-
			message: "#^Method PLL_Translate_Option\\:\\:translate_string_recursive\\(\\) should return array\\|string but returns array\\|string\\|Traversable\\.$#"
			count: 1
			path: include/translate-option.php

		-
			message: "#^Parameter \\#1 \\$singular of method Translations\\:\\:translate\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: include/translate-option.php

		-
			message: "#^Parameter \\#1 \\$string of function pll__ expects string, mixed given\\.$#"
			count: 1
			path: include/translate-option.php

		-
			message: "#^Parameter \\#3 \\$args of function wp_insert_term expects array\\{alias_of\\?\\: string, description\\?\\: string, parent\\?\\: int, slug\\?\\: string\\}, array\\{description\\: mixed\\} given\\.$#"
			count: 1
			path: include/translated-object.php

		-
			message: "#^Parameter \\#3 \\$args of function wp_update_term expects array\\{alias_of\\?\\: string, description\\?\\: string, parent\\?\\: int, slug\\?\\: string\\}, array\\{description\\: mixed\\} given\\.$#"
			count: 2
			path: include/translated-object.php

		-
			message: "#^Parameter \\#3 \\$args of function wp_insert_term expects array\\{alias_of\\?\\: string, description\\?\\: string, parent\\?\\: int, slug\\?\\: string\\}, array\\{description\\: mixed\\} given\\.$#"
			count: 1
			path: include/translated-term.php

		-
			message: "#^Parameter \\#1 \\$text of function esc_attr expects string, bool\\|string given\\.$#"
			count: 1
			path: include/widget-languages.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$_last_checked\\.$#"
			count: 1
			path: install/t15s.php

		-
			message: "#^Cannot access offset 'slug' on object\\.$#"
			count: 1
			path: install/t15s.php

		-
			message: "#^Cannot access property \\$translations on array\\|stdClass\\|true\\.$#"
			count: 2
			path: install/t15s.php

		-
			message: "#^Method PLL_T15S\\:\\:site_transient_update_plugins\\(\\) should return array\\|bool but returns array\\|stdClass\\|true\\.$#"
			count: 2
			path: install/t15s.php

		-
			message: "#^Cannot call method get_must_translate_message\\(\\) on PLL_Admin_Static_Pages\\|null\\.$#"
			count: 1
			path: modules/site-health/admin-site-health.php

		-
			message: "#^Parameter \\#1 \\$name of method WP_Sitemaps_Provider\\:\\:get_sitemap_url\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: modules/sitemaps/multilingual-sitemaps-provider.php

		-
			message: "#^Offset 'file' does not exist on array\\{function\\: string, line\\?\\: int, file\\?\\: string, class\\?\\: class\\-string, type\\?\\: '\\-\\>'\\|'\\:\\:', args\\?\\: array, object\\?\\: object\\}\\.$#"
			count: 2
			path: modules/sync/admin-sync.php

		-
			message: "#^Offset 'line' does not exist on array\\{function\\: string, line\\?\\: int, file\\?\\: string, class\\?\\: class\\-string, type\\?\\: '\\-\\>'\\|'\\:\\:', args\\?\\: array, object\\?\\: object\\}\\.$#"
			count: 2
			path: modules/sync/admin-sync.php

		-
			message: "#^Parameter \\#1 \\$.+ of function array_diff expects array, mixed given\\.$#"
			count: 1
			path: modules/sync/admin-sync.php

		-
			message: "#^Parameter \\#1 .+ of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: modules/sync/admin-sync.php

		-
			message: "#^Parameter \\#1 \\$data of function maybe_serialize expects array\\|object\\|string, mixed given\\.$#"
			count: 2
			path: modules/sync/sync-metas.php

		-
			message: "#^Parameter \\#1 \\$data of function maybe_unserialize expects string, mixed given\\.$#"
			count: 1
			path: modules/sync/sync-metas.php

		-
			message: "#^@param int \\$from does not accept actual type of parameter\\: int\\|null\\.$#"
			count: 1
			path: modules/sync/sync-tax.php

		-
			message: "#^@param int \\$to does not accept actual type of parameter\\: int\\|null\\.$#"
			count: 1
			path: modules/sync/sync-tax.php

		-
			message: "#^@param string \\$lang does not accept actual type of parameter\\: string\\|null\\.$#"
			count: 1
			path: modules/sync/sync-tax.php

		-
			message: "#^Parameter \\#1 \\$.+ of function wp_list_pluck expects array, array\\<WP_Term\\>\\|WP_Error given\\.$#"
			count: 1
			path: modules/sync/sync-tax.php

		-
			message: "#^Parameter \\#1 \\$.+ of function wp_list_pluck expects array, array\\<WP_Term\\>\\|WP_Error\\|false given\\.$#"
			count: 1
			path: modules/sync/sync-tax.php

		-
			message: "#^Parameter \\#2 \\$lang of method PLL_Translated_Object\\:\\:get_translation\\(\\) expects PLL_Language\\|string, PLL_Language\\|false given\\.$#"
			count: 2
			path: modules/sync/sync-tax.php

		-
			message: "#^Parameter \\#2 \\$object_type of function update_object_term_cache expects array\\<string\\>\\|string, string\\|false given\\.$#"
			count: 1
			path: modules/sync/sync-tax.php

		-
			message: "#^Parameter \\#2 \\$post of method PLL_Sync\\:\\:pll_save_post\\(\\) expects WP_Post, WP_Post\\|null given\\.$#"
			count: 1
			path: modules/sync/sync.php

		-
			message: "#^Cannot access property \\$name on PLL_Language\\|false\\.$#"
			count: 1
			path: modules/wizard/wizard.php

		-
			message: "#^Method PLL_Wizard\\:\\:wizard_notice\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: modules/wizard/wizard.php

		-
			message: "#^Parameter \\#1 \\$id of method PLL_Translated_Object\\:\\:get_translations\\(\\) expects int, mixed given\\.$#"
			count: 1
			path: modules/wizard/wizard.php

		-
			message: "#^Property PLL_Wizard\\:\\:\\$current_step \\(string\\|null\\) does not accept int\\|string\\|false\\.$#"
			count: 1
			path: modules/wizard/wizard.php

		-
			message: "#^Method PLL_WPML_API\\:\\:wpml_is_rtl\\(\\) should return bool but returns string\\|false\\.$#"
			count: 1
			path: modules/wpml/wpml-api.php

		-
			message: "#^Static property PLL_WPML_API\\:\\:\\$original_language \\(PLL_Language\\|null\\) does not accept PLL_Language\\|false\\|null\\.$#"
			count: 1
			path: modules/wpml/wpml-api.php

		-
			message: "#^Parameter \\#1 \\$args of method WP_Ajax_Response\\:\\:add\\(\\) expects array\\{what\\?\\: string, action\\?\\: string\\|false, id\\?\\: int\\|WP_Error, old_id\\?\\: int\\|false, position\\?\\: string, data\\?\\: string\\|WP_Error, supplemental\\?\\: array\\}, array\\{what\\: 'success', data\\: string\\|false\\} given\\.$#"
			count: 1
			path: settings/settings-licenses.php

		-
			message: "#^Method PLL_Settings_Module\\:\\:get_form\\(\\) should return string but returns string\\|false\\.$#"
			count: 1
			path: settings/settings-module.php

		-
			message: "#^Parameter \\#1 \\$post of function _get_page_link expects int\\|WP_Post, int\\|null given\\.$#"
			count: 1
			path: settings/settings-url.php

		-
			message: "#^Parameter \\#1 \\$id of method PLL_Translatable_Object\\:\\:get_language\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: settings/settings-url.php

		-
			message: "#^Property PLL_Settings\\:\\:\\$modules \\(array\\<PLL_Settings_Module\\>\\|null\\) does not accept array\\<object\\>\\.$#"
			count: 1
			path: settings/settings.php

		-
			message: "#^Parameter \\#2 \\$column_name of method PLL_Table_Settings\\:\\:column_default\\(\\) expects string, int\\|string given\\.$#"
			count: 1
			path: settings/table-settings.php

