<phpunit
	bootstrap="tests/phpunit/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="install">
			<!-- These tests must run before others due to constant manipulation -->
			<file>./tests/phpunit/tests/test-install.php</file>
		</testsuite>
		<testsuite name="main">
			<directory prefix="test-" suffix=".php">./tests/phpunit/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src/admin</directory>
			<directory suffix=".php">./src/frontend</directory>
			<directory suffix=".php">./src/include</directory>
			<directory suffix=".php">./src/install</directory>
			<directory suffix=".php">./src/integrations</directory>
			<directory suffix=".php">./src/modules</directory>
			<directory suffix=".php">./src/settings</directory>
			<file>polylang.php</file>
			<file>uninstall.php</file>
			<exclude>
				<file>install/plugin-updater.php</file><!-- 3rd party code with no significant modification -->
			</exclude>
		</whitelist>
	</filter>
</phpunit>
