<phpunit
	bootstrap="tests/phpunit/includes/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="install">
			<!-- These tests must run before others due to constant manipulation -->
			<file>./tests/phpunit/tests/test-install.php</file>
		</testsuite>
		<testsuite name="maybe-create-language-terms">
			<!-- These tests must be isolated to be sure Polylang API isn't loaded by another test -->
			<file>./tests/phpunit/tests/plugins/test-model-maybe-create-language-terms.php</file>
		</testsuite>
		<testsuite name="main">
			<directory prefix="test-" suffix=".php">./tests/phpunit/tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./admin</directory>
			<directory suffix=".php">./frontend</directory>
			<directory suffix=".php">./include</directory>
			<directory suffix=".php">./install</directory>
			<directory suffix=".php">./integrations</directory>
			<directory suffix=".php">./modules</directory>
			<directory suffix=".php">./settings</directory>
			<file>polylang.php</file>
			<file>uninstall.php</file>
			<exclude>
				<file>install/plugin-updater.php</file><!-- 3rd party code with no significant modification -->
			</exclude>
		</whitelist>
	</filter>
</phpunit>
