@charset "UTF-8";
body {
	margin: 65px auto 24px;
	box-shadow: none;
	background: #f1f1f1;
	padding: 0
}

#pll-logo {
	border: 0;
	margin: 0 0 24px;
	padding: 0;
	text-align: center;
	font-family: sans-serif;
	font-size: 64px;
	text-transform: uppercase;
	color: #000;
	line-height: normal;
}
#pll-logo a {
	display: flex;
	justify-content: center;
	color: #000;
	text-decoration: none;
}

#pll-logo img {
	max-width: 100%;
	margin-right: 16px;
}
.rtl #pll-logo img {
	margin-right: 0;
	margin-left: 16px;
}

.pll-wizard-footer {
	text-align: center
}

.pll-wizard .select2-container {
	text-align: left;
	width: auto
}

.pll-wizard .hidden {
	display: none
}

.pll-wizard-content {
	box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
	padding: 2em;
	margin: 0 0 20px;
	background: #fff;
	overflow: hidden;
	zoom: 1;
	text-align: left;
}
.rtl .pll-wizard-content{
	text-align: right;
}

.pll-wizard-content h1,
.pll-wizard-content h2,
.pll-wizard-content h3,
.pll-wizard-content table {
	margin: 0 0 20px;
	border: 0;
	padding: 0;
	color: #666;
	clear: none;
	font-weight: 500
}

.pll-wizard-content p {
	margin: 20px 0;
	font-size: 1em;
	line-height: 1.75em;
	color: #666
}

.pll-wizard-content table {
	font-size: 1em;
	line-height: 1.75em;
	color: #666;
	width: 100%;
	margin-top: 20px;
}
.pll-wizard-content table td span{
	display: inline-block;
}

.pll-wizard-content table caption {
	caption-side: bottom;
	font-style: italic;
	text-align: right;
}
.rtl .pll-wizard-content table caption {
	text-align: left;
}

.pll-wizard-content table caption .icon-default-lang{
	font-style: normal;
}

.pll-wizard-content a {
	color: #a03f3f;
}

.pll-wizard-content a:focus,
.pll-wizard-content a:hover,
.pll-wizard-footer-links:hover {
	color: #dd5454
}

.pll-wizard-content .pll-wizard-next-steps {
	overflow: hidden;
	margin: 0 0 24px;
	padding-bottom: 2px
}

.pll-wizard-content .pll-wizard-next-steps h2 {
	margin-bottom: 12px
}

.pll-wizard-content .pll-wizard-next-steps .pll-wizard-next-steps-first {
	float: left;
	width: 50%;
	box-sizing: border-box
}

.pll-wizard-content .pll-wizard-next-steps .pll-wizard-next-steps-last {
	float: right;
	width: 50%;
	box-sizing: border-box
}

.pll-wizard-content .pll-wizard-next-steps ul {
	padding: 0 2em 0 0;
	list-style: none outside;
	margin: 0
}

.pll-wizard-content .pll-wizard-next-steps ul li a {
	display: block;
	padding: 0 0 .75em
}

.pll-wizard-content .pll-wizard-next-steps ul li a::before {
	color: #82878c;
	font: normal 20px/1 dashicons;
	speak: none;
	display: inline-block;
	padding: 0 10px 0 0;
	top: 1px;
	position: relative;
	text-decoration: none!important;
	vertical-align: top
}

.pll-wizard-steps {
	padding: 0 0 24px;
	margin: 0;
	list-style: none outside;
	overflow: hidden;
	color: #ccc;
	width: 100%;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: inline-flex
}

.pll-wizard-steps li {
	width: 100%;
	float: left;
	padding: 0 0 .8em;
	margin: 0;
	text-align: center;
	position: relative;
	border-bottom: 4px solid #ccc;
	line-height: 1.4em
}

.pll-wizard-steps li a {
	color: #a03f3f;
	text-decoration: none;
	padding: 1.5em;
	margin: -1.5em;
	position: relative;
	z-index: 1
}

.pll-wizard-steps li a:focus,
.pll-wizard-steps li a:hover {
	color: #dd5454;
	text-decoration: underline
}

.pll-wizard-steps li::before {
	content: "";
	border: 4px solid #ccc;
	border-radius: 100%;
	width: 4px;
	height: 4px;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -6px;
	margin-bottom: -8px;
	background: #fff
}

.pll-wizard-steps li.active {
	border-color: #a03f3f;
	color: #a03f3f;
	font-weight: 700
}

.pll-wizard-steps li.active::before {
	border-color: #a03f3f
}

.pll-wizard-steps li.done {
	border-color: #a03f3f;
	color: #a03f3f
}

.pll-wizard-steps li.done::before {
	border-color: #a03f3f;
	background: #a03f3f
}

.pll-wizard .pll-wizard-actions {
	overflow: hidden;
	margin: 20px 0 0;
	position: relative
}

.pll-wizard .pll-wizard-actions .button {
	font-size: 16px;
	font-weight: 300;
	padding: 1em 2em;
	line-height: 1em;
	margin-right: .5em;
	margin-bottom: 2px;
	margin-top: 10px;
	height: auto;
	border-radius: 4px;
	box-shadow: none;
	min-width: auto;
	border-color: #a03f3f;
	color: #a03f3f;
}

.pll-wizard .pll-wizard-content .button {
	border-color: #a03f3f;
	color: #a03f3f;
}

.pll-wizard .pll-wizard-content .button-primary,
.pll-wizard .pll-wizard-actions .button-primary {
	background-color: #a03f3f;
	border-color: #a03f3f;
	color: #fff;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 #a03f3f;
	text-shadow: 0 -1px 1px #a03f3f, 1px 0 1px #a03f3f, 0 1px 1px #a03f3f, -1px 0 1px #a03f3f;
	margin: 0;
	opacity: 1
}

.pll-wizard .pll-wizard-content .button-small .dashicons {
	font-size: 15px;
	height: auto;
	vertical-align: middle;
}

.pll-wizard .button-primary:active,
.pll-wizard .button-primary:focus,
.pll-wizard input[type="checkbox"]:focus + label.button-primary,
.pll-wizard .button-primary:hover {
	background: #dd5454;
	border-color: #dd5454;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 #dd5454
}
.pll-wizard .pll-wizard-actions .button-primary[disabled],
.pll-wizard .pll-wizard-actions .button-primary:disabled,
.pll-wizard .pll-wizard-actions .button-primary.disabled {
	cursor: wait;
	background-color: #bb5454 !important;
	border-color: #bb5454 !important;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 #bb5454  !important;
	text-shadow: 0 -1px 1px #bb5454, 1px 0 1px #bb5454, 0 1px 1px #bb5454, -1px 0 1px #bb5454 !important;
	color: #ffa3a3 !important;
}
.pll-wizard-content p:last-child {
	margin-bottom: 0
}

.pll-wizard-footer-links {
	font-size: .85em;
	color: #7b7b7b;
	margin: 1.18em auto;
	display: inline-block;
	text-align: center
}

.pll-wizard-services {
	border: 1px solid #eee;
	padding: 0;
	margin: 0 0 1em;
	list-style: none outside;
	border-radius: 4px;
	overflow: hidden
}

.pll-wizard-services p {
	margin: 0 0 1em 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em
}

.pll-wizard-service-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 0;
	border-bottom: 1px solid #eee;
	color: #666;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center
}

.media-step .pll-wizard-service-item{
	border: 0;
}

.media-step .pll-wizard-service-item:last-child{
	display: block;
}

.media-step .pll-wizard-service-item .pll-wizard-service-enable{
	padding-bottom: 0;
}

.pll-wizard-service-item:last-child {
	border-bottom: 0
}

.pll-wizard-service-item .pll-wizard-service-name {
	-webkit-flex-basis: 0;
	flex-basis: 0;
	min-width: 160px;
	text-align: center;
	font-weight: 700;
	padding: 2em 0;
	-webkit-align-self: stretch;
	align-self: stretch;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	align-items: baseline
}

.pll-wizard-service-item .pll-wizard-service-name img {
	max-width: 75px
}

.pll-wizard-service-item .pll-wizard-service-description {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	padding: 20px
}

.pll-wizard-service-item .pll-wizard-service-example {
	padding: 0 20px 20px
}

.pll-wizard-service-item .pll-wizard-service-example p{
	text-align: right;
}
.rtl .pll-wizard-service-item .pll-wizard-service-example p{
	text-align: left;
}

.pll-wizard-service-item .pll-wizard-service-description p {
	margin-bottom: 1em
}

.pll-wizard-service-item .pll-wizard-service-description p:last-child {
	margin-bottom: 0
}

.pll-wizard-service-item .pll-wizard-service-description .pll-wizard-service-settings-description {
	display: block;
	font-style: italic;
	color: #999
}

.pll-wizard-service-item .pll-wizard-service-enable {
	-webkit-flex-basis: 0;
	flex-basis: 0;
	min-width: 75px;
	text-align: center;
	cursor: pointer;
	padding: 2em 0;
	position: relative;
	max-height: 1.5em;
	-webkit-align-self: flex-start;
	align-self: flex-start;
	-webkit-box-ordinal-group: 4;
	-webkit-order: 3;
	order: 3
}

.pll-wizard-service-item .pll-wizard-service-toggle {
	position: relative
}

.pll-wizard-service-item .pll-wizard-service-toggle input[type=checkbox] {
	position:absolute;
	opacity: 0;
}

.pll-wizard-service-item .pll-wizard-service-toggle input[type=checkbox] + label {
	position: relative;
	display: inline-block;
	width: 44px;
	height: 20px;
	border-radius: 10em;
	cursor: pointer;
	text-indent: -9999px;
}

.pll-wizard-service-item .pll-wizard-service-toggle input[type=checkbox]:focus + label {
	border:1px dashed #777;
}

.pll-wizard-service-item .pll-wizard-service-toggle input[type=checkbox] + label::before,
.pll-wizard-service-item .pll-wizard-service-toggle input[type=checkbox] + label::after {
	content: '';
	position: absolute;
}

.pll-wizard-service-item .pll-wizard-service-toggle input[type=checkbox] + label::before {
	left: 0;
	top: 0;
	width: 44px;
	height: 20px;
	background: #ddd;
	border-radius: 10em;
	transition: background-color .2s;
}

.pll-wizard-service-item .pll-wizard-service-toggle input[type=checkbox] + label::after {
	width: 16px;
	height: 16px;
	transition: all .2s;
	border-radius: 50%;
	background: #fff;
	margin: 2px;
	top: 0;
	left: 0;
}

.pll-wizard-service-item .pll-wizard-service-toggle input[type=checkbox]:checked + label::before {
	background:#a03f3f;
}

.pll-wizard-service-item .pll-wizard-service-toggle input[type=checkbox]:checked + label::after {
	right: 0;
	left:auto;
}

.pll-wizard-service-item .pll-wizard-service-settings {
	display: none;
	margin-top: .75em;
	margin-bottom: 0;
	cursor: default
}

.pll-wizard-service-item .pll-wizard-service-settings.hide {
	display: none
}

.pll-wizard-service-item.checked .pll-wizard-service-settings {
	display: inline-block
}

.pll-wizard-service-item.checked .pll-wizard-service-settings.hide {
	display: none
}

.pll-wizard-service-item.closed {
	border-bottom: 0
}

.step {
	text-align: center
}

.pll-wizard .button .dashicons{
	vertical-align: middle;
}
.rtl .dashicons-arrow-right-alt2:before {
	content: "\f341";
}
.pll-wizard .pll-wizard-actions .button:active,
.pll-wizard .pll-wizard-actions .button:focus,
.pll-wizard .pll-wizard-actions .button:hover {
	box-shadow: none
}

.pll-wizard-next-steps {
	border: 1px solid #eee;
	border-radius: 4px;
	list-style: none;
	padding: 0
}

.pll-wizard-next-steps li {
	padding: 0
}

.pll-wizard-next-steps .pll-wizard-next-step-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	border-top: 1px solid #eee
}

.pll-wizard-next-steps .pll-wizard-next-step-item.no-border,
.pll-wizard-next-steps .pll-wizard-next-step-item:first-child {
	border-top: 0
}

.pll-wizard-next-steps .pll-wizard-next-step-description {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	margin: 1.5em
}

.pll-wizard-next-steps .pll-wizard-next-step-action {
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	flex-grow: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center
}

.pll-wizard-next-steps .pll-wizard-next-step-action .button {
	margin: 1em 1.5em
}

.pll-wizard-next-steps .pll-wizard-next-step-item.no-border .pll-wizard-next-step-description,
.pll-wizard-next-steps .pll-wizard-next-step-item.no-border .pll-wizard-actions,
.pll-wizard-next-steps .pll-wizard-next-step-item.no-border .pll-wizard-next-step-action .button{
	margin-top: 0;
}


.pll-wizard-next-steps p.next-step-heading {
	margin: 0;
	font-size: .95em;
	font-weight: 400;
	font-variant: all-petite-caps
}

.pll-wizard-next-steps p.next-step-extra-info {
	margin: 0
}

.pll-wizard-next-steps h3.next-step-description {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.pll-wizard-next-steps .pll-wizard-additional-steps {
	border-top: 1px solid #eee;
}

.pll-wizard-next-steps .pll-wizard-additional-steps .pll-wizard-next-step-description {
	margin-bottom: 0
}

.pll-wizard-next-steps .pll-wizard-additional-steps .pll-wizard-actions {
	margin: 0 0 1.5em 0;
}

.pll-wizard-next-steps .pll-wizard-additional-steps .pll-wizard-actions .button {
	font-size: 15px;
	margin: 1em 0 1em 1.5em;
}
.rtl .pll-wizard-next-steps .pll-wizard-additional-steps .pll-wizard-actions .button {
	margin: 1em 1.5em 1em 0;
}

.pll-wizard-next-steps .pll-wizard-additional-steps .pll-wizard-actions .button::last-child {
	margin-right: 1.5em;
}

.pll-wizard-content img{
	max-width: 100%;
	margin-right: 0.5em;
}
.rtl .pll-wizard-content img{
	margin-left: 0.5em;
}

.pll-wizard-content .form-field label{
	margin-bottom: 5px;
	display: block;
}

.pll-wizard-content .form-field select{
	padding: 3px;
}

.pll-wizard-content .languages-step select,
.pll-wizard-content .untranslated-contents-step select{
	width: 100%;
}

.languages-step .form-field .button{
	margin-left: 15px;
}
.languages-step .form-field .button > span{
	margin-right: 0.3em;
}
.rtl .languages-step .form-field .button{
	margin-left: 0;
	margin-right: 15px;
}
.rtl .languages-step .form-field .button > span{
	margin-left: 0.3em;
	margin-right: 0;
}

.pll-wizard-content .languages-step .select-language-field{
	display: flex;
}

.pll-wizard-content #languages{
	display: none;
}
.pll-wizard-content #languages tr th:first-child{
	width: 80%;
}
.pll-wizard-content #languages .dashicons{
	color: #a03f3f;
}
.pll-wizard-content #languages img{
	margin-right: 5px;
}
.pll-wizard-content .error{
	color: #a03f3f;
	font-weight: bold;
}
.pll-wizard-content #messages .error{
	background: #fccfcf;
	padding: 0.5rem;
	border: 1px solid #a03f3f;
	margin-bottom: 0.5rem;
}

.pll-wizard-content #slide-toggle{
	position:absolute;
	opacity: 0;
}

.pll-wizard-content #slide-toggle + label{
	position:relative;
}
.pll-wizard-content #slide-toggle + label + span{
	display: block;
}

.pll-wizard-content #slide-toggle + label .dashicons{
	margin-right: 0.3em;
}
.rtl .pll-wizard-content #slide-toggle + label .dashicons{
	margin-left: 0.3em;
	margin-right: 0;
}
.pll-wizard-content #slide-toggle ~ #screenshot > img {
	max-height: 500px;
	margin-top: 10px;
	-webkit-transition: all .5s cubic-bezier(0, 1, 0.5, 1);
	transition: all .5s cubic-bezier(0, 1, 0.5, 1);
}
.pll-wizard-content #slide-toggle:checked ~ #screenshot > img {
	max-height: 0;
}
.hide {
	display: none;
}

input[type="text"].field-in-error,
input[type="password"].field-in-error,
input[type="checkbox"].field-in-error,
input[type="color"].field-in-error,
input[type="date"].field-in-error,
input[type="datetime"].field-in-error,
input[type="datetime-local"].field-in-error,
input[type="email"].field-in-error,
input[type="month"].field-in-error,
input[type="number"].field-in-error,
input[type="search"].field-in-error,
input[type="radio"].field-in-error,
input[type="tel"].field-in-error,
input[type="text"].field-in-error,
input[type="time"].field-in-error,
input[type="url"].field-in-error,
input[type="week"].field-in-error,
select.field-in-error,
textarea.field-in-error,
span.field-in-error,
.field-in-error{
	border-color: #a03f3f;
}

input[type="text"].field-in-error:focus,
input[type="password"].field-in-error:focus,
input[type="checkbox"].field-in-error:focus,
input[type="color"].field-in-error:focus,
input[type="date"].field-in-error:focus,
input[type="datetime"].field-in-error:focus,
input[type="datetime-local"].field-in-error:focus,
input[type="email"].field-in-error:focus,
input[type="month"].field-in-error:focus,
input[type="number"].field-in-error:focus,
input[type="search"].field-in-error:focus,
input[type="radio"].field-in-error:focus,
input[type="tel"].field-in-error:focus,
input[type="text"].field-in-error:focus,
input[type="time"].field-in-error:focus,
input[type="url"].field-in-error:focus,
input[type="week"].field-in-error:focus,
select.field-in-error:focus,
textarea.field-in-error:focus,
span.field-in-error:focus,
.field-in-error:focus{
	border: 1px solid #a03f3f;
	box-shadow: 0 0 2px rgba(160, 63, 63, 0.8);
	outline-color: #a03f3f;
	outline-style: auto;
	outline-width: thin;
}

/* override install styles by returning back to forms styles */
.form-table input.regular-text{
	width: 25em;
}
.form-table input.field-in-error{
	border-color: #a03f3f;
}
#pll-licenses-table td{
	padding: 10px 9px;
}
#pll-licenses-table .license-valid td p{
	min-width: 35em;
}
#pll-licenses-table .pll-deactivate-license{
	margin: 0 0 0 20px;
}
.rtl #pll-licenses-table .pll-deactivate-license{
	margin: 0 10px 0 0;
}
.pll-wizard-content .documentation {
	padding: 24px 24px 0;
	margin: 0 0 24px;
	overflow: hidden;
	background: #f5f5f5
}

.pll-wizard-content .documentation p {
	padding: 0;
	margin: 0 0 12px;
}
.documentation-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	justify-content: flex-end;
}

.documentation-container .documentation-button-container {
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	flex-grow: 0;
}

.wc-setup .wc-setup-actions .button.documentation-button {
	height: 42px;
	padding: 0 1em;
	margin: 0;
}
#dialog{
	display: none;
}
.pll-wizard .ui-dialog.ui-widget-content{
	max-height: none;
}
.pll-wizard .ui-dialog-title::before{
	content: "\f534";
	font-family: dashicons;
	display: inline-block;
	line-height: 1;
	font-weight: 400;
	font-style: normal;
	speak: none;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 20px;
	height: 20px;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
	margin: 0 5px 5px 0;
	transition: color 0.1s ease-in;
}
.rtl.pll-wizard .ui-dialog-title::before{
	margin-right: 0;
	margin-left: 5px;
}
.pll-wizard .ui-dialog ul{
	list-style: disc;
	padding-left: 20px;
}
.rtl.pll-wizard .ui-dialog ul{
	padding-left: 0;
	padding-right: 20px;
}
.pll-wizard li{
	margin-bottom: 0;
}
#translations{
	border-collapse: collapse;
}
#translations tbody:nth-child(odd){
	background-color: #f9f9f9;
}
#translations.striped > tbody > :nth-child(odd) {
	background-color: transparent; /* Override common WordPress style */
}
.pll-wizard-content mark{
	background: transparent none;
}
.pll-wizard-content mark{
	color: #7ad03a;
}
@media screen and (max-width: 782px) {
	/* Override WordPress button css rules */
	.languages-step .form-field .button{
		font-size: 13px;
		line-height: 26px;
		height: 28px;
		padding: 0 10px 1px;
		vertical-align: top;
	}

	#pll-licenses-table .pll-deactivate-license{
		margin: 10px 0 5px;
	}
}
@media only screen and (max-width:620px) {
	/* Override dialog width rule */
	.ui-dialog{
		width: 100% !important;
	}

}
@media only screen and (max-width:500px) {
	#pll-logo a,
	.select-language-field{
		flex-direction: column;
	}
	.select-language-field .action-buttons{
		display: flex;
		justify-content: flex-end;
	}
	.languages-step .form-field .button{
		margin: 5px 0 0;
	}
}
@media only screen and (max-width:400px) {
	#pll-logo {
		font-size: 56px;
	}
	.pll-wizard-steps {
		display: none
	}
	.pll-wizard-service-item {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.pll-wizard-service-item .pll-wizard-service-enable {
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		order: 2;
		padding: 20px 0 0
	}
	.pll-wizard-service-item .pll-wizard-service-description {
		-webkit-box-ordinal-group: 4;
		-webkit-order: 3;
		order: 3
	}
	.pll-wizard-service-item .pll-wizard-service-name {
		padding: 20px 20px 0;
		text-align: left;
		-webkit-box-pack: justify!important;
		-webkit-justify-content: space-between!important;
		justify-content: space-between!important
	}
	.pll-wizard-service-item .pll-wizard-service-name img {
		margin: 0
	}
	.pll-wizard-next-steps .pll-wizard-next-step-item {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap
	}
	.pll-wizard-next-steps .pll-wizard-next-step-item .pll-wizard-next-step-description {
		margin-bottom: 0
	}
	.pll-wizard-next-steps .pll-wizard-next-step-item .pll-wizard-next-step-action p {
		margin: 0
	}
}
@media only screen and (max-width:360px) {
	#pll-logo {
		font-size: 48px;
	}
}
