h1 > div{
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: sans-serif;
	text-transform: uppercase;
}
h1 > div > span{
	display: inline-block;
	font-size: 5.6rem;
	padding: 0 2rem;
}
