name: Static Analysis

on:
  push:
    branches: master
  pull_request:
    branches: master
  workflow_dispatch:

jobs:
  testing:
    name: PHPCS and PHPStan

    runs-on: ubuntu-latest

    steps:
    - name: Check out the source code
      uses: actions/checkout@v4

    - name: Run PHPCS and PHPStan tests
      uses: polylang/actions/static-analysis@main

    - name: Run PHPCompatibility for files that require php 5.6
      run: vendor/bin/phpcs --standard=phpcs-phpcompatibility-56.xml.dist
      shell: bash
